NEXT_PUBLIC_FIREBASE_API_KEY='XXXXXX'
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN='XXXXXXX'
NEXT_PUBLIC_FIREBASE_PROJECT_ID='XXXXX'
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET='XXXXX'
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID='XXXXXX'
NEXT_PUBLIC_FIREBASE_APP_ID='XXXXXX'

FIREBASE_ADMIN_SERVICE_ACCOUNT='/path/to/admin-sa.json'